/* Use box-sizing to account for padding and borders */
* {
	box-sizing:border-box;
}

/* Animation for fading in the headings */
@keyframes heading-fade-in {
	from {opacity: 0.0; transform:translate(0px, -10px);}
	to {opacity: 1.0; transform:translate(0px ,0px);}
}

/* Animation for fading in images */
@keyframes image-fade-in {
	from {opacity: 0.0; transform:translate(0, 10px);}
	to {opacity: 1.0; transform:translate(0px, 0px);}
}

html, body {
	height: 100%;
}

body {
	background-image: url("../images/background.png");
	background-repeat: repeat;
}

/* Holds the headings */
div#heading {
	/* Center div horizontally and place above content div */
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -280px 0 0 -345px;
	/* Show an ellipsis if text overflows */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* Set style for text */
	font-family: "Arial Black", Gadget, sans-serif;
	color: #D6D6D6; /* off-white */
}

/* Main heading (name) */
div#heading h1 {
	animation-name: heading-fade-in;
	animation-duration: 1s;
	display: inline;
	margin: 0;
}

/* Secondary heading (title) */
div#heading h2 {
	animation-name: heading-fade-in;
	animation-duration: 1s;
	display: inline;
	margin-left: 10px;
}

/* Hide the heading div when the screen is below 600px wide */
@media only screen and (max-width: 600px) {
	div#heading {
		display: none;
	}
}

/* Default: display as 2 rows of 3 images */
div#content {
	width: 690px;
	height: 480px;
	margin: -240px 0 0 -345px;
}

/* When screen is below 600px wide: display as 3 rows of 2 images */
@media only screen and (max-width: 600px) {
	div#content {
		width: 480px;
		height: 690px;
		margin: -310px 0 0 -240px;
	} 
}

/* When screen is below 390px wide: display as 6 rows of 1 image */
@media only screen and (max-width: 390px) {
	div#content {
		width: 270px;
		height: 1320px;
		margin: -300px 0 0 -135px;
	}
}

/* Holds the main page content (links) */
div#content {
	/* Center vertically and horizontally */
	position: absolute;
	left: 50%;
	top: 50%;
	padding: 30px;
	background-color: black;
	border-radius: 10px;
	opacity: 0.7;
	overflow: auto;
}

/* Image links in the content div */
div#content a {
	float: left;
	margin: 30px;
	width: 150px;
	height: 150px;
	animation-name: image-fade-in;
	animation-duration: 1s;
	border-style: none;
}

a#github {
	background: url("../images/logos/github_grayscale.png");
}

a#github:hover, a#github:active {
	background: url("../images/logos/github.png");
}

a#bitbucket {
	background: url("../images/logos/bitbucket_grayscale.png");
}

a#bitbucket:hover, a#bitbucket:active {
	background: url("../images/logos/bitbucket.png");
}

a#linkedin {
	background: url("../images/logos/linkedin_grayscale.png");
}

a#linkedin:hover, a#linkedin:active {
	background: url("../images/logos/linkedin.png");
}

a#google_plus {
	background: url("../images/logos/google_plus_grayscale.png");
}

a#google_plus:hover, a#google_plus:active {
	background: url("../images/logos/google_plus.png");
}

a#mail {
	background: url("../images/logos/mail_grayscale.png");
}

a#mail:hover, a#mail:active {
	background: url("../images/logos/mail.png")
}

a#games {
	background: url("../images/logos/joystick_grayscale.png")
}

a#games:hover, a#games:active {
	background: url("../images/logos/joystick.png")
}

/*Don't forget an email link and a link to resume */
/*Maybe make an image sprite when all images are done */