/* Use box-sizing to account for padding and borders */
* {
	box-sizing:border-box;
}

/* Animation for fading in the headings */
@keyframes heading-fade-in {
	from {opacity: 0.0; transform:translate(0px, -10px);}
	to {opacity: 1.0; transform:translate(0px ,0px);}
}

body {
	background: black;
}

/* This div will hold the main content and the heading divs */
div#container {
	/* Center horizontally and vertically */
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* Dynamically resize this div */
	width: 60%;
	height: 50%;
}

/* Holds the heading (will be a child of the container div) */
div#heading {
	position: absolute;
	top: 0;
	/* Match container's width */
	width: 100%;
	/* Fixed height */
	height: 35px;
	/* Show an ellipsis if text overflows */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* Set style for text */
	font-style: verdana;
	color: #D6D6D6; /* off-white */
}

/* Main heading (name) */
div#heading h1 {
	animation-name: heading-fade-in;
	animation-duration: 1s;
	display: inline;
	margin: 0;
}

/* Secondary heading (title) */
div#heading h2 {
	animation-name: heading-fade-in;
	animation-duration: 1s;
	display: inline;
	margin-left: 10px;
}

/* Holds the main page content (will be a child of the container div) */
div#content {
	position: absolute;
	/* Move this div to the bottom of the container */
	bottom: 0;
	/* Provide some space between this div and the heading (above) */
	top: 35px;
	/* Match container's width */
	width: 100%;
	/* Fill most of the container and leave room for the heading */
	height: 90%;
	background-color: white;
	border-radius: 10px;
	opacity: 0.4;
}