/* Use box-sizing to account for padding and borders */
* {
	box-sizing:border-box;
}

/* Animation for fading in the headings */
@keyframes heading-fade-in {
	from {opacity: 0.0; transform:translate(0px, -10px);}
	to {opacity: 1.0; transform:translate(0px ,0px);}
}

/* Animation for fading in images */
@keyframes image-fade-in {
	from {opacity: 0.0; transform:translate(0, 10px);}
	to {opacity: 1.0; transform:translate(0px, 0px);}
}

body {
	background-image: url("../images/background.png");
	background-repeat: repeat;
}

/* This div will hold the main content and the heading divs */
div#container {
	/* Center horizontally and vertically */
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* Dynamically resize this div */
	width: 60%;
	height: 50%;
}

/* Holds the heading (will be a child of the container div) */
div#heading {
	position: absolute;
	top: 0;
	/* Match container's width */
	width: 100%;
	/* Fixed height */
	height: 40px;
	/* Show an ellipsis if text overflows */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/* Set style for text */
	font-family: "Arial Black", Gadget, sans-serif;
	color: #D6D6D6; /* off-white */
}

/* Main heading (name) */
div#heading h1 {
	animation-name: heading-fade-in;
	animation-duration: 1s;
	display: inline;
	margin: 0;
}

/* Secondary heading (title) */
div#heading h2 {
	animation-name: heading-fade-in;
	animation-duration: 1s;
	display: inline;
	margin-left: 10px;
}

/* Holds the main page content (will be a child of the container div) */
div#content {
	position: absolute;
	/* Move this div to the bottom of the container */
	bottom: 0;
	/* Provide some space between this div and the heading (above) */
	top: 40px;
	/* Match container's width */
	width: 100%;
	/* Fill most of the container and leave room for the heading */
	height: 90%;
	background-color: black;
	border-radius: 10px;
	opacity: 0.7;
}

div#content img {
	float: left;
	margin: 30px;
	width: 150px;
	height: 150px;
	animation-name: image-fade-in;
	animation-duration: 1s;
}

img#github {
	background: url("../images/logos/github_grayscale.png");
}

img#github:hover {
	background: url("../images/logos/github.png");
}

img#bitbucket {
	background: url("../images/logos/bitbucket_grayscale.png");
}

img#bitbucket:hover {
	background: url("../images/logos/bitbucket.png");
}

img#linkedin {
	background: url("../images/logos/linkedin_grayscale.png");
}

img#linkedin:hover {
	background: url("../images/logos/linkedin.png");
}

img#google_plus {
	background: url("../images/logos/google_plus_grayscale.png");
}

img#google_plus:hover {
	background: url("../images/logos/google_plus.png");
}

img#mail {
	background: url("../images/logos/mail_grayscale.png");
}

img#mail:hover {
	background: url("../images/logos/mail.png")
}

/*Note for later: I think what might work is make the images semi-transparent while in grayscale, then fully opaque when highlighted */
/*Need to resize images (maybe 100x100?) */
/*Don't forget an email link and a link to resume */
/*Maybe make an image sprite when all images are done */